################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TheStore/.vs/TheStore/v16
/TheStore/TheStore/bin/Debug/netcoreapp3.1
/TheStore/TheStore/obj
